body {
	padding-top: 60px;
}
.list-group h2{
	margin-top: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.login-form {
	margin-top: 100px;
	margin-bottom: 100px;
}

/*Home page*/

/* Image slide */

.img-slider img{
	padding: 5px;
	width: 700px;
	height: 450px;
}

/*END Image slide*/

/* Company information */

blockquote .description p{
	text-indent: 1.5em;
}

blockquote .description{
	margin-bottom: 10px;
}

.facebook-btns{
	display: inline-block;
	margin-left: 50%;
}
.facebook-btns span {
	margin:5px;
}
.be-here{
	margin-left: 3.5rem;
}
.fb-image{
	margin-bottom: 10px;
}

/* END Company information */

/* Promotions */


.list-group-item .row p {
	margin-bottom: 0;
	font-size: 1.8rem;
}

.odd {
	background-color: #f5f5f5;
}

/* END Promotions */

/*Styles for google maps*/
.angular-google-map-container { 
	height: 350px;
}

.info-gmaps {
	padding-top: 20px;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}
.features .heading {
    font-size: 14px;
    font-weight: bold;
}
/*END Styles for google maps*/
/*END Home page*/

/*Input validete*/

input.ng-valid:focus , textarea:focus{
	box-shadow: 0 0 10px green;
	border: 2px solid green
}
input.ng-invalid:focus , textarea:focus {
	box-shadow: 0 0 10px red;
	border: 2px solid red;
}

/*END input validate*/

/*START Pomotion page*/

.row.list-group-item.promotions:hover{
	background-color:  #f5f5f5;
}

.promotions {
	font-size:20px ;
	font-style: bold;
}

/*Create promotion*/
#createPromotions{
	background-color: #DFDFFF;
	border-radius: 25px;
	padding: 5px 20px;
}

#createPromotions .col-md-5 {
	margin-left: 2%;
	margin-top: 10px;
}

#createPromotions .crete-form{
	margin-left: 8%;
}

#createPromotions p{
	font-style: bold;
	font-size: 1.8rem;
}
#createPromotions .panel-heading h4{
	font-size: 2.2rem;
}

.crete-form .col-md-6{
	padding: 5px 5px;
}
#date{
	width:60%;
}

#date-btn{
	position:relative;
	left: 58%;
	bottom: 38px;
}

#createPromotions form .row{
	margin-bottom: 5px;
}

/* END Create promotion*/
/*END Pomotion page*/

/* START Styles for image gallery and addin images */

.my-container{
	padding: 0 10%;
}

.img-conteiner {
	border-radius: 5px;
	background-color: #E0F1FC;
	display: inline-block;
	margin:5px;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;

}
.img-gallery{
	width: 200px;
	height: 200px;
}
.img-gallery:hover{
	opacity: 0.5;
	width: 200px;
	height: 200px;
}
.img-remove{
	display: inline-block;
}

#btns-gallery{
	margin-bottom: 5px;
}
#btns-gallery .btn-remove{
	margin-left: 20%;

}
/* Upload images */

.upload-images{
	margin-top:20px;
}

.btns-group{
	margin-top: 20px;
}

.img-conteiner .thumbnail{
	margin-bottom: 0;
}

.glyphicon.glyphicon-remove-circle{
	color: red;
	font-size: 2.2rem;
	margin-bottom: 8px;
}

/* END Upload images */

/* END Styles for addImage */
