extends includes/layout
block main-content
	div.navbar.navbar-inverse.navbar-fixed-top
		div.container
			div.navbar-header
				a.navbar-brand(href="#/") Absolute
			div.navbar-collapse.collapse
				ul.nav.navbar-nav
					li.dropdown
						a.dropdown-toggle(href="#/") Home
					li
						a(href="#/gallery") Gallery
					li
						a(href="#/promotions") All promotions
					li
						a(href="#/admin/images") Add Image
				.navbar-right(ng-controller="LogInController")
					div(ng-show="identity.isAuthenticated()")
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a.dropdown-toggle(href="" , data-toggle="dropdown")
									| {{ identity.currentUser.firstName + ' ' + identity.currentUser.lastName }}
									span.caret
								ul.dropdown-menu
									li(ng-show="identity.isAuthenticated()")
										a(href="#/admin/adminpanel") Admin panel
									li
										a(href="#/admin/images" ) Add new image
									li
										a(href="#/admin/promotion" ) Promotions
									li
										a(href="#/admin/tasks" ) Tasks
									li
										a(href="#/" ng-click="logout()") Log out
	section
		div(ng-view)
	footer.text-center
		p &copy; Genko Petrov