.container
	h2 Welcome to admin panel 
	div
		ul
			li
				a(href="#") Add new image galery
			li
				a(href="#/admin/promotion") Add new product promotion
			li
				a(href="#") Add work schedule
			li
				a(href="#") Add product request for morrow
			li
				a(href="#") Add task for morrow