.container
	.row
		div.col-lg-6
			img(src="app/images/home/homeimg.jpg")
		div.col-lg-6
			h2.header Promotion product
			.container.promotions
				.row
					.col-md-3 Jim Beam + almonds
					.col-md-3 20lv.
				.row
					.col-md-3 Gentleman + almonds
					.col-md-3 3lv.
				.row
					.col-md-3 Grant + almonds
					.col-md-3 5lv.
				.row
					.col-md-3 Lavaza + salt :)
					.col-md-3 200lv.
				.row
					.col-md-3 Garbage + pytkan
					.col-md-3 infinity gold
.container.info-gmaps
	.row
		div.col-md-6
			div
				h2.header Infomation fot shop
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?
		div.col-md-6
			div
				h2.header Google maps
				img(src="app/images/home/gmaps.jpg")