.container
	.row
		div.col-md-5
			img(src="app/images/home/homeimg.jpg")
		div.col-md-5
			h2.header Promotion product
			.promotions
				.row(ng-repeat="promotion in promotions")
					.col-md-6 {{ promotion.productName }}
					.col-md-6 {{ promotion.price }}
				
.container.info-gmaps
	.row
		div.col-md-6
			div
				h2.header Infomation fot shop
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate tempora illum hic dolor, ratione ad sapiente esse molestias repudiandae est vero, consequatur, quos tenetur. Illo quo natus laboriosam voluptates unde?
		div.col-md-6
			div
				h2.header Google maps
				div.
					<ui-gmap-google-map center="map.center" zoom="map.zoom" >
						<ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
						</ui-gmap-google-map>
	//- div.
	//- 	<div id="fb-root"></div>
	//- 	<script>(function(d, s, id) {
	//- 		var js, fjs = d.getElementsByTagName(s)[0];
	//- 		if (d.getElementById(id)) return;
	//- 		js = d.createElement(s); js.id = id;
	//- 		js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&appId=1419783234977087&version=v2.0";
	//- 		fjs.parentNode.insertBefore(js, fjs);
	//- 	}(document, 'script', 'facebook-jssdk'));</script>
	//- div.
	//- 	<div class="fb-like" data-href="http://localhost:8080/#/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>