.container
	.row
		.col-md-6
			.div(ng-repeat="homeimag in homeimage | filter:{isForHomePageImage: true} ")
				img(src="{{ homeimag.url }}" , alt="Home page image" , weight=400 , height=400)
		.col-md-6
			.list-group
				h2.list-group-item.active Promotions
				.list-group-item(ng-repeat="promotion in promotions" , ng-class-odd="'odd'")
						.row
							.col-md-6 
								p.text-info 
									h4 {{ promotion.productName }}
							.col-md-6 
								p.text-center
									strong {{ promotion.price }}
.container.info-gmaps
	.row
		.col-md-7
			blockquote
				h2.page-header Infomation
					.facebook-btns
						span.glyphicon.glyphicon-thumbs-up(ng-click="likeInFc()")
						span.glyphicon.glyphicon-share(ng-click="shareInFc()")
						a(href="https://www.facebook.com/MagazinAbsolut")
							img.fb-image(src="/css/font-images/fb-btn.png" ,weight=35 , height=35)
				div(ng-repeat="info in compInfo").
					<p>
						<strong class="text-primary" >Area: </strong> {{ info.dompanyArea }}
					</p>

					<div class="description">
						<strong class="text-primary" >Description: </strong>
						<p>
							 {{ info.description }}
						</p>
					</div>
					<p>
					<strong class="text-primary" >Address: </strong> {{ info.address }}
					</p>

					<p>
						<strong class="text-primary" >Phone number: </strong><span class="glyphicon glyphicon-phone"></span>
						{{ info.phoneNumber }}
					</p>

					<p>
						<strong class="text-primary" >Email: </strong> <span class="glyphicon glyphicon-envelope" ></span> {{ info.email }}
					</p>
				div.fb-like(data-href="https://www.facebook.com/MagazinAbsolut" data-layout="standard" data-action="like" data-show-faces="true" data-share="true")
		.col-md-5
			h2.page-header We are here.
				span.be-here.glyphicon.glyphicon-hand-down
			div.
				<ui-gmap-google-map center="map.center" zoom="map.zoom" >
					<ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
					</ui-gmap-google-map>

//- Facebook like and share
div(ng-hide).
	<div id="fb-root"></div>