.container
	h1 Absolute shop 
	.row
		.col-md-6
			carousel(interval="myInterval")
				slide.img-slider(ng-repeat="homeimag in homeimage | filter:{isForHomePageImage: true}" active="slide.active")
					img.img-thumbnail(src="{{ homeimag.url }}", height="500" width="500")
		.col-md-6.home-promotions

			h2 Active promotions
			table.table.table-striped.table-hover
				thead.table-head
					tr
						th #
						th 
							strong Products
							input#search(type="text" ng-model="searchText" placeholder="  Search")
						th( ng-click="sort = 'price';reverse = !reverse") 
							strong Price
							span.caret
						th
							strong(ng-click="sort = 'dateToEnd';reverse = !reverse;searchDay =''") Date
							span.caret
				tbody
					tr(ng-repeat="promotion in promotions  | filter:searchDay | filter:searchText | orderBy: sort:reverse | limitTo:7 "  )
						td.task-index
							strong {{ $index + 1 }}
						td
							strong {{ promotion.productName }}
						td
							strong {{ promotion.price }}.lv
						td.text-center
							strong {{ promotion.dateToEnd | date:'dd.MM.yyyy' }}
						td {{ promotion.dateIsCurrent }}
.container.info-gmaps
	.row
		.col-md-7
			blockquote
				h2 Infomation
					.facebook-btns
						span.glyphicon.glyphicon-thumbs-up(ng-click="likeInFc()")
						span.glyphicon.glyphicon-share(ng-click="shareInFc()")
						a(href="https://www.facebook.com/MagazinAbsolut")
							img.fb-image(src="/css/font-images/fb-btn.png" ,width="35" , height="35")
				div.body-info(ng-repeat="info in compInfo").
					<p>
						<strong class="text-primary" >Area: </strong> {{ info.dompanyArea }}
					</p>

					<div class="description">
						<strong class="text-primary" >Description: </strong>
						<p>
							 {{ info.description }}
						</p>
					</div>
					<p>
					<strong class="text-primary" >Address: </strong> {{ info.address }}
					</p>

					<p>
						<strong class="text-primary" >Phone number: </strong><span class="glyphicon glyphicon-phone"></span>
						{{ info.phoneNumber }}
					</p>

					<p>
						<strong class="text-primary" >Email: </strong> <span class="glyphicon glyphicon-envelope" ></span> {{ info.email }}
					</p>
				div.fb-like(data-href="https://www.facebook.com/MagazinAbsolut" data-layout="standard" data-action="like" data-show-faces="true" data-share="true")
		.col-md-5
			.google-map-wrap
				h2 We are here.
					span.be-here.glyphicon.glyphicon-hand-down
				div.
					<ui-gmap-google-map center="map.center" zoom="map.zoom" >
						<ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
						</ui-gmap-google-map>

//- Facebook like and share
div(ng-hide).
	<div id="fb-root"></div>