.container
	.row
		div.col-md-6
			
			div(ng-repeat="homeimag in homeimage | filter:{isForHomePageImage: true} ")
				img(src="{{ homeimag.url }}" , alt="Home page image")
		div.col-md-6
			div.fb-like(data-href="https://www.facebook.com/MagazinAbsolut" data-layout="standard" data-action="like" data-show-faces="true" data-share="true")
		div.col-md-6
			h2.header Promotion product
			.promotions {{ promotions.productName }}
				.row(ng-repeat="promotion in promotions")
					.col-md-6 {{ promotion.productName }}
					.col-md-6 {{ promotion.price }}	
.container.info-gmaps
	.row
		div.col-md-6
			div
				h2.header Infomation
				.row(ng-repeat="info in compInfo")
					div.col-md-6
						p Area:{{ info.dompanyArea }} <!-- dompanyArea wrong write must be comapnyArea -->
						p Description: {{ info.description }}
						p Address: {{ info.address }}
					div.col-md-6
						p Phone number: {{ info.phoneNumber }}
						p Email: {{ info.email }}
		div.col-md-6
			div
				h2.header Google maps
				div.
					<ui-gmap-google-map center="map.center" zoom="map.zoom" >
						<ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
						</ui-gmap-google-map>
	div.
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&appId=1419783234977087&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>