.container
	.row
		h2 Tasks
		a(href="/admin/tasks/create") Create new task
		.col-md-2
			p Description: {{ task.taskDescript }}
		.col-md-2
			p Priority: {{ task.priority }}
		.col-md-2
			p Date on create: {{ task.dateOnCreate }}
		.col-md-2
			p Date to finish: {{ task.dateToFinish }}
			