.container
	.row
		.col-md-2(ng-repeat="task in tasks")
			p Description: {{ task.taskDescript }}
			p Priority: {{ task.priority }}
			p Date on create: {{ task.dateOnCreate }}
			p Date to finish: {{ task.dateToFinish }}
			div
				button(type="submit", ng-click="remove(task._id)" ) Delete
				a(href="/#/admin/tasks/details/{{ task._id }}") Details
				a(href="/#/admin/tasks/update/{{ task._id }}") Update