include create

.container
	.jumbotron
		button.btn.btn-info.btn-lg(ng-click="isCollapsed = !isCollapsed") Create new task
		h2 All Tasks
		table.table.table-striped.table-hover
			thead.table-head
				tr
					th #
					th Description
					th Priority
					th Date on create
					th Date to finish
					th.text-center Options
			tbody
				tr(ng-repeat="task in tasks")
					a(href="/#/admin/tasks/update/{{ task._id }}")
						td.task-index {{ $index + 1 }}
						td {{ task.description }}
						td.task-priority {{ task.priority }}
						td.task-date {{ task.dateOn | date:'dd-MM-yyyy' }}
						td {{ task.dateToEnd | date:'dd-MM-yyyy' }}
					td
						button.btn.btn-danger( ng-click="remove(task._id , $index)" ) Delete
						a.btn.btn-info.pull-right(href="/#/admin/tasks/update/{{ task._id }}") Update