script(src="//maps.googleapis.com/maps/api/js?sensor=false")

script(type="text/javascript" src="/lib/kendo-ui-core/js/jquery.min.js")

script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")

script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/lib/lodash/dist/lodash.js")
script(type="text/javascript" src="/lib/bluebird/js/browser/bluebird.js")
script(type="text/javascript" src="/lib/angular-google-maps/dist/angular-google-maps.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/controllers/admin/logInController.js")
script(type="text/javascript" src="/app/controllers/admin/auth.js")
script(type="text/javascript" src="/app/controllers/admin/identity.js")
script(type="text/javascript" src="/app/controllers/admin/adminResource.js")

script(type="text/javascript" src="/app/controllers/promotion/promotionController.js")
script(type="text/javascript" src="/app/controllers/promotion/promotionResource.js")
script(type="text/javascript" src="/app/controllers/promotion/cashedPromotions.js")

script(type="text/javascript" src="/app/controllers/companyInfo/infoResource.js")

script(type="text/javascript" src="/app/controllers/images/imageResource.js")
script(type="text/javascript" src="/app/controllers/images/cashedImages.js")
//- script(type="text/javascript" src="/app/controllers/images/imagesController.js")

script(type="text/javascript" src="/app/controllers/home/homeController.js")

script(type="text/javascript" src="/app/common/notifier.js")
script(type="text/javascript" src="/lib/kendo-ui-core/js/kendo.ui.core.min.js")
script(type="text/javascript" src="/lib/kendo-ui-core/js/kendo.angular.min.js")
