script(src="/lib/kendo-ui-core/js/jquery.min.js")
script(src="/lib/bootstrap/dist/js/bootstrap.js")
script(src="/lib/toastr/toastr.js")
script(src="/lib/angular/angular.js")
script(src="/lib/angular-resource/angular-resource.js")
script(src="/lib/angular-route/angular-route.js")
script(src="/app/app.js")
script(src="/lib/kendo-ui-core/js/kendo.ui.core.min.js")
script(src="/lib/kendo-ui-core/js/kendo.angular.min.js")