.container
	.row
		h2.header Create new promotion
			.promotions {{ promotions.productName }}
				.row
					.col-md-6 {{ promotion.productName }}
					.col-md-6 {{ promotion.price }}	
	.row
		.col-md-2
			form.form-horizontal(name="addPomotion")
				.form-group
					label(for="productName") Product name
					input.form-control(type="text" , placeholder="Product name" ,name="productName" , ng-model="promotion.productName", required)
				.form-group
					label(for="price") Price
					input.form-control(type="text" , placeholder="Price" , name="price" ,ng-model="promotion.price", required)
				button.btn.btn-primary.btn-login(ng-click="addNewPromotion(promotion)" , ng-disabled="addPomotion.$invalid") Add promotion