.container(ng-show="identity.isAuthenticated()")
	#createPromotions.row(collapse="isCollapsed")
		h3 Create new promotion
		.col-md-5
			.panel.panel-info
				.panel-heading
					h4.panel-title New promotion
				.panel-body
					p
						strong Product: 
						span.text-info {{ promotion.productName }}
					p
						strong Price: 
						span.text-info {{ promotion.price }}
					p
						strong Date to end:
						span.text-info {{promotion.dateToEnd | date:'dd-MM-yyyy'}}

		.col-md-4.crete-form
			form(name="addPomotion")
				.row
					label(for="productName") Product name
					input.form-control(type="text" , placeholder="Product name" ,name="productName" , ng-model="promotion.productName", required)
				.row
					.col-md-6
						label(for="price") Price
						input#price.form-control(type="text" , placeholder="Price" , name="price" ,ng-model="promotion.price", phone-number, required)
					.col-md-6
						label(for="date") Date to end
						input#date.form-control(type="text" , placeholder="Date" , name="date" ,datepicker-popup="dd.MM.yyyy" ng-model="promotion.dateToEnd" is-open="opened" min-date="2014-06-22" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close")
						span#date-btn
							button.btn.btn-default(ng-click="open($event)")
								i.glyphicon.glyphicon-calendar
			.row
				.col-md-6
					button.btn.btn-primary.btn-block(ng-click="isCollapsed = !isCollapsed") Cancel
				.col-md-6
					button.btn.btn-info.btn-block(ng-click="addNew(promotion)" , ng-disabled="addPomotion.$invalid") Add promotion