include create
.container(ng-show="identity.isAuthenticated()")
	.jumbotron
		button.btn.btn-info.btn-lg(ng-click="isCollapsed = !isCollapsed") Create new promotio
		h2 All promotions
		.row.list-group-item.active
			.col-md-2 #
			.col-md-2 Products
			.col-md-2 Price
			.col-md-2 Date to end 
			.col-md-2 DateOn
		.row.list-group-item.promotions(ng-repeat="promotion in promotions")
			a(href="#/admin/promotion/update/{{ promotion._id }}")
				.col-md-2 {{ $index + 1 }}
				.col-md-2 {{ promotion.productName }}
				.col-md-2 {{ promotion.price }}
				.col-md-2 {{ promotion.dateToEnd | date:'dd-MM-yyyy'}}
				.col-md-2 {{ promotion.dateOn| date:'dd-MM-yyyy' }}
			button.btn.btn-primary(type="submit", ng-click="remove(promotion._id)" ) Delete
			a.btn.btn-primary(href="#/admin/promotion/update/{{ promotion._id }}") Update

.container(ng-hide="identity.isAuthenticated()")
	.jumbotron
		h2 All promotions
		.row.list-group-item.active
			.col-md-2 #
			.col-md-2 Products
			.col-md-2 Price
		.promotions(ng-repeat="promotion in promotions", ng-class-odd="'odd'" )
			.row.list-group-item
				.col-md-2 {{ $index + 1 }}
				.col-md-2 {{ promotion.productName }}
				.col-md-2 {{ promotion.price }}
