include create
.container(ng-show="true")
	.jumbotron
		button.btn.btn-info.btn-lg(ng-click="isCollapsed = !isCollapsed" ng-show="identity.isAuthenticated()") Create new promotio
		h1 All promotions
		.btn-wrapper
			button.btn.btn-info(ng-click="all()") Show all promotions
			button.btn.btn-danger(ng-click="active()") Active promotions
			button.btn.btn-primary(ng-click="comleated()") Compleated promotions
		table.table.table-striped.table-hover
			thead.table-head
				tr
					th #
					th Products
					th.text-center Price
					th.text-center DateOn
					th.text-center Date to end
					th(ng-show="identity.isAuthenticated()") Actions
			tbody
				tr(ng-repeat="promotion in promotions")
					a(href="#/admin/promotion/update/{{ promotion._id }}")
						td {{ $index + 1 }}
						td {{ promotion.productName }}
						td.text-center {{ promotion.price }}
						td.text-center {{ promotion.dateOn| date:'dd-MM-yyyy' }}
						td.text-center {{ promotion.dateToEnd | date:'dd-MM-yyyy'}}
					td(ng-show="identity.isAuthenticated()")
						button.btn.btn-danger(type="submit", ng-click="remove(promotion._id , $index)" ) Delete
						a.btn.btn-primary.pull-right(href="#/admin/promotion/update/{{ promotion._id }}") Update