.container
	.row
		h2.header Promotion product
			.promotions {{ promotions.productName }}
				.row(ng-repeat="promotion in promotions")
					.col-md-6 {{ promotion.productName }}
					.col-md-6 {{ promotion.price }}	
