.container.gallery
	h1 Image gallery
	div#galleryWrapper(ng-show="identity.isAuthenticated()")
		.img-conteiner(ng-repeat="image in gallery" id="d_{{$index}}")
			form
				#btns-gallery
					button.btn.btn-info.btn-sm(ng-click="choiceHomeImage(image)" ng-show="image.isForHomePageImage" ) Home Image
					button.btn.btn-danger.btn-sm(ng-click="choiceHomeImage(image)" ng-show="!image.isForHomePageImage" ) Home Image
					button.btn.btn-danger.btn-sm.btn-remove(ng-click="remove(image , $index)") Remove
				input(type="checkbox" ng-hide="true" ng-model="image.isForHomePageImage" )
				input(type="hidden" ng-model="image._id" )
				img.thumbnail.img-gallery(src="{{ image.url }}", ng-click="open()", alt="Image" height="200" , weight="200")
	div(ng-hide="identity.isAuthenticated()")
		.img-conteiner(ng-repeat="image in gallery" ,ng-hide="identity.isAuthenticated()")
			img.thumbnail.img-gallery(src="{{ image.url }}", ng-click="open()" alt="Image" height="200" , weight="200")
	div.
		<script type="text/ng-template" id="myModalContent.html">
			<div class="modal-body">
				<carousel interval="myInterval" >
					<slide class="img-modal-slider" ng-repeat="image in gallery" active="slide.active" >
						<img class="img-thumbnail" src="{{ image.url }}" alt="image" height="700" width="700" ></img
					</slide>
				</carousel>
			</div>
		</script>
		 