.container
	.row
		.col-md-6
			.well(ng-repeat="info in compInfo")
				.panel.panel-primary
					.panel-heading
						h2.panel-title Company information
					.panel-body
						p 
							strong Area: 
							{{ info.dompanyArea }} <!-- dompanyArea wrong write must be comapnyArea -->
						p
							strong Description:
							p  
								{{ info.description }}
						p
							strong Address: 
							{{ info.address }}
						p
							strong Phone number: 
							{{ info.phoneNumber }}
						p
							strong Email: 
							{{ info.email }}
				button.btn.btn-primary.btn-block(ng-click="showUpdateForm()") Update

		.col-md-6(ng-show="isVisible")
			include updateInfo
