.container
	div
		h2 Add new image
	form.form-group(id="image" ,method="post" , action="/api/images" , enctype='multipart/form-data')
		input(type="file" , id="imagefile" , name="image")
		input(type="submit" , value="Upload")